<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <main>
        <header>
            <form action="/" method="POST">
                <label for="number_of_players">Enter number of human players</label>
                <input type="number" name="number_of_players" id="number_of_players" max="2" min="0">

                <input type="submit" value="Submit">
                
            </form>
        </header>

        
    </main>
</body>
</html>