<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Screen</title>
</head>
<body>
    <header>
        <h1>Player Input</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="player-input">Player Input</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Number of players = {{players.human_players}}</p>

        <main>
            <form action="/player-input" method="POST">
                {%if players.human_players=="1" %}
                    
                        <label for="player_one">Player one weapon</label>
                        <input type="text" name="player_one" id="player_one">
                                                
                        <p><input type="submit" value="Submit"></p>
                    </form>

                {%elif players.human_players=="2"%}
                <form action="/" method="POST">
                    <p>
                        <label for="player_one">Player one weapon</label>
                        <input type="text" name="player_one" id="player_one">
                    </p>
                    <p>                
                        <label for="player_two">Player two weapon</label>
                        <input type="text" name="player_two" id="player_two">
                    </p>
                    
                <p><input type="submit" value="Submit"></p>
                
                {%else%}

                <p><input type="submit" value="Submit"></p>
            
                {%endif%}
            </form>                
        </main>
    </main>
</html>